.chat-item {
  transition: 0.2s;
  width: 100%;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  background: honeydew;
  border-bottom: 1px gray solid;
  padding: 0 8px;
  cursor: pointer;
}

.chat-item:hover {
  background: rgb(213, 226, 213);
}

.chat-item .chat-item-header {
  font-size: 0.9em;
  font-weight: 600;
  width: 100%;
  color: rgb(102, 102, 102);
}

.chat-item .chat-item-body {
  font-size: 0.8em;
  width: 100%;
}

.chat-item .chat-item-body .body-sender-name {
  display: inline-block;
  font-weight: 600;
  margin-right: 5%;
}