.message-bar {
  box-sizing: border-box;
  background-color: rgb(217, 205, 221);
  width: 100%;
  padding: 1.2vh 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .send-icon {
    width: 2.8vh;
    height: 2.8vh;
  }

  .message-input {
    transition: 0.3s;
    margin: 0;
    width: calc(100% - 6.4vh - 30px);
    height: 2.8vh;
    font-size: 1.9vh;
    padding: 0px 15px;
    border: none;
    background: none;
    vertical-align: middle;
  }

  .message-input:active,:focus {
    outline: none;
  }
}